@font-face {
    font-family: spaceGrotesk;
    src: url(assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    font-family: spaceGrotesk;
    font-weight: 500;
    font-size: 16px;
}

main {
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

.bg-main-mobile {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.bg-card-back {
    width: 75%;
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 70px;
}

.bg-card-front {
    width: 75%;
    z-index: 2;
    position: absolute;
    top: 7rem;
    left: 20px;
}

form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

form input {
    width: 80%;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    font-size: 16px;
}

input::placeholder {
    opacity: 0.5;
    padding: 1rem;
}

form label {
    margin-left: 2rem;
    margin-bottom: 10px;
}

.date-and-cvc-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-and-cvc-labels {
    display: flex;
    flex-direction: row;
}

.cvc-label {
    width: 0;
}

.date {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px;
    height: 30px;
}

.cvc {
    height: 30px;
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-self: center;
    align-self: center;
}

#date-year {
    margin-left: 10px;
}

button {
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    align-self: center;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 8px !important;
    text-align: center;
}

.attribution a {
    font-size: 8px;
    color: hsl(228, 45%, 44%);
}
